---
interface Props {
  value: string;
  label: string;
}
const { value, label } = Astro.props;
---

<div class="stat-card">
  <div class="stat-value" set:html={value} />
  <div class="stat-label" set:html={label} />
</div>
